/*mount and patch*/
a {
	text-decoration: none;
	color: purple;
}
#app {
	width: 600px;
	height: 600px;
	margin: 50px auto;
	background-color: #bfa;
	position: relative;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.left {
	width: 200px;
	height: 300px;
	background-color: orange;
	position: absolute;
	left: 0;
	top: 0;
}
.right {
	width: 600px;
	height: 200px;
	background-color: blueviolet;
	position: absolute;
	right: 0;
	bottom: 0;
}
.other {
	width: 200px;
	height: 200px;
	background-color: cornflowerblue;
	position: absolute;
	right: 0;
	top: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	line-height: 30px;
	background-color: crimson;
	border-bottom: 2px solid #000;
}

/*Demo component*/
#demo {
	width: 600px;
	margin: 0 auto;
}
.demo {
	background-color: #bfa;
}
.mt-4 {
	margin: 20px;
}

.my-nav {
	margin: 20px;
}
